[build]
  command = "npm run build"
  publish = "build"

[functions]
  directory = "netlify/functions"

[dev]
  command = "npm run dev"
  framework = "#custom"
  targetPort = 5173
  port = 8888
  autoLaunch = false